---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_uikit",
				"_hexgrid.scss"
;

//custom variables
$bg-alt-color: #FAFAFA;
$base-text-color: #000;
$accent-color: #EF62E2;
$inverse-accent-color: #FFF;
$under-mobile: "screen and (max-width: 767px)";

// custom styles

*{ 
	margin: 0;
	padding: 0;
	transition: all .2s ease-in-out;
}

body svg{
  transform-style: preserve-3d;
}

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "lato",sans-serif; 
  font-weight: 300;
  color: $base-text-color;
	//enable ligatures!
  -moz-font-feature-settings:"liga=1"; 
  -moz-font-feature-settings:"liga"; /* EDIT: new syntax for FF 15+ */ 
  -ms-font-feature-settings:"liga"; 
  -o-font-feature-settings:"liga"; 
  -webkit-font-feature-settings:"liga"; 
  font-feature-settings:"liga";	
  @media #{$under-mobile} {
    background-color: $bg-alt-color;
  }
}

body.gs-body-colored {
  background-color:  $bg-alt-color;
  padding-bottom: 50px;
}

#gs-bg-canvas {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  @media #{$under-mobile} {
    display: none;
  }
}

.gs-content-box {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 42;
  @media #{$under-mobile} {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
}

.gs-content {
  -webkit-box-shadow: -4px 3px 35px 20px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 3px 35px 20px rgba(0,0,0,0.75);
  box-shadow: -4px 3px 35px 20px rgba(0,0,0,0.75);
  padding-bottom: 40px;
  @media #{$under-mobile} {
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

h1 {
  font-family: "abolition-soft",sans-serif;
  font-size: 4.1em;
  line-height: 1.25em;
  font-weight: 300;
  text-align: center;
  @media #{$under-mobile} {
    font-size: 3em;
  }
}

p {
  font-size: 1.8em;
  line-height: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
  @media #{$under-mobile} {
    font-size: 1.3em;
    padding-right: 10px;
    padding-left: 10px;
  }
}

p.gs-statement {
  text-align: justify;
}

.gs-side-margins {
  margin-left: 50px;
  margin-right: 50px;
  @media #{$under-mobile} {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.gs-top-margin {
  margin-top: 40px;
}

.gs-linkback-container {
  display: block;
  text-decoration: none;
  border: none;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  &:hover {
    fill: $accent-color !important;
    transform: scale(1.1);
    cursor: pointer;
    border: none;
  }
}

a {
  color: $accent-color;
  text-decoration: none;
  border-bottom: 1px dotted $accent-color;
  &:hover {
    text-decoration: none;
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
}

.gs-logo-container {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.gs-single-post {
  hr {
    margin: 30px;
  }
  margin-bottom: 50px;
  h1 {
    margin-top: 40px;
  }
  h2 { /*subtitle*/
    text-align: center;
    font-family: "lato",sans-serif; 
    font-weight: 300;
    color: $base-text-color;
    margin: 40px;
  }
  p {
    margin: 20px;
  }
}

.gs-post-visuals-container {
  margin: 40px 10px;
  img {
    border: 4px solid #333;
  }
  .gs-post-single-visual-link {
    @media #{$under-mobile} {
      margin-top: 20px;
    }
  }
  * {
    @media #{$under-mobile} {
      padding-left: 0;
    }
  }
}

::selection {
  background-color: $accent-color;
  background: $accent-color;
  color: $inverse-accent-color;
}
